<!-- <html>
<body>
    <h1>CSV Domain Authority Checker</h1>
    <form action="/process_csv" method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file" accept=".csv">
        <button type="submit">Upload CSV</button>
    </form>
    <div id="loading-spinner" style="display: none;">Loading... <div class="spinner"></div></div>
    <script>
        document.querySelector('form').addEventListener('submit', function () {
            document.getElementById('loading-spinner').style.display = 'block';
        });
    </script>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Authority Checker</title>
</head>
<body>
    <h1>Domain Authority Checker</h1>
    <form id="upload-form" method="POST" enctype="multipart/form-data" action="/process_csv">
        <div>
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="csv_file">Upload CSV File:</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <!-- <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div> -->
</body>
</html>

